.app-header {
    align-items: flex-end;
    text-align: center;
}

.app-header h1 {
    color: white;
    flex-grow: 1;
    font-weight: bold;
}

.app-header h2 {
    font-size: 1.2rem;
    color: rgb(122, 122, 122);
}